<% carousel_id = 0 %>
  <% listings.each do |listing| %>
    <%= link_to listing_path(listing), class:"text-decoration-none" do%>
      <div class="parentfav" data-controller="fav" data-fav-id-value = "<%=listing.id%>">
        <% carousel_id += 1 %>
        <div id="carouselExampleIndicators<%= carousel_id%>" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators<%= carousel_id%>" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators<%= carousel_id%>" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators<%= carousel_id%>" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators<%= carousel_id%>" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators<%= carousel_id%>" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <% if listing.photos.attached? %>
                <%= cl_image_tag listing.photos[0].key, class:"listing-image" %>
              <% else %>
                <%= image_tag "https://source.unsplash.com/random?apartment", alt: "apartment", width: 150, class:"listing-image" %>
              <% end %>
            </div>

            <div class="carousel-item">
              <% if listing.photos.attached? %>
                <%= cl_image_tag listing.photos[1].key, class:"listing-image" %>
              <% else %>
                <%= image_tag "https://source.unsplash.com/random?street", alt: "apartment", width: 150, class:"listing-image" %>
              <% end %>
            </div>

            <div class="carousel-item">
              <% if listing.photos.attached? %>
                <%= cl_image_tag listing.photos[2].key, class:"listing-image" %>
              <% else %>
                <%= image_tag "https://source.unsplash.com/random?room", alt: "apartment", width: 150, class:"listing-image" %>
              <% end %>
            </div>

            <div class="carousel-item">
              <% if listing.photos.attached? %>
                <%= cl_image_tag listing.photos[3].key, class:"listing-image" %>
              <% else %>
                <%= image_tag "https://source.unsplash.com/random?city", alt: "apartment", width: 150, class:"listing-image" %>
              <% end %>
            </div>

            <div class="carousel-item">
              <% if listing.photos.attached? %>
                <%= cl_image_tag listing.photos[4].key, class:"listing-image" %>
              <% else %>
                <%= image_tag "https://source.unsplash.com/random?road", alt: "apartment", width: 150, class:"listing-image" %>
              <% end %>
            </div>

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= carousel_id%>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>

          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= carousel_id%>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

        </div>
        <div class="listing-content d-flex flex-column">

          <div class="flex-grow-1">
            <p><%= listing.state %>, <%= listing.country%></p>
            <p><strong>$<%=listing.price_per_night%></strong> SGD per night</p>
          </div>

          <div class="d-flex justify-content-end">
            <p>Listed by <strong><%= User.find(listing.user_id).name %></strong></p>
          </div>

          <% if user_signed_in? %>
            <% @user_id = current_user.id %>
            <% fav_check = @favorites.find_by(listing_id: listing.id, user_id: @user_id) %>
              <% unless fav_check.nil? %>
                <div>
                  <span class="faviconred" data-action="click->fav#fire" data-fav-target="favicon"><i class="fa-solid fa-heart"></i></span>
                </div>
              <% else %>
                <div>
                  <span class="favicon"  data-action="click->fav#fire" data-fav-target="favicon"><i class="fa-regular fa-heart"></i></span>
                </div>
              <% end %>
          <% end %>

        </div>
      </div>
    <% end %>
  <% end %>
