<div class="container">
  <div class="row">
    <h1><%= @listing.title %></h1>
  <div>

  <% if @listing.photos.attached? %>
    <div class="d-flex show-image">
      <div class="col-6 p-1">
        <%= cl_image_tag @listing.photos[0].key, class:"show-main-image" %>
      </div>

      <div class="col-6 grid-show p-1">
        <%= cl_image_tag @listing.photos[1].key, class:"show-small-image" %>
        <%= cl_image_tag @listing.photos[2].key, class:"show-small-image" %>
        <%= cl_image_tag @listing.photos[3].key, class:"show-small-image" %>
        <%= cl_image_tag @listing.photos[4].key, class:"show-small-image" %>
      </div>
    </div>
  <% else %>
      <div class="row show-image">
        <div class="col-6 p-1">
          <%= image_tag "studio#{rand(1..11)}.jpeg", alt: "apartment", width: 150, class:"show-main-image" %>
        </div>

        <div class="col-6 grid-show p-1">
          <%= image_tag "studio#{rand(1..11)}.jpeg", alt: "apartment", width: 150, class:"show-small-image" %>
          <%= image_tag "studio#{rand(1..11)}.jpeg", alt: "apartment", width: 150, class:"show-small-image" %>
          <%= image_tag "studio#{rand(1..11)}.jpeg", alt: "apartment", width: 150, class:"show-small-image" %>
          <%= image_tag "studio#{rand(1..11)}.jpeg", alt: "apartment", width: 150, class:"show-small-image" %>
        </div>
      </div>
  <% end %>

  <div class="row pt-3">
    <div class="col-8">
      <h3><%= @listing.subtitle %></h3>
      <p><%= @listing.state %>, <%= @listing.country %></p>
      <p><%= @listing.no_of_rooms %> rooms</p>
      <p><%= @listing.description %> rooms</p>
      
      <div class= "map-content mb-4">
        <h3>Where you will be staying</h3>

        <div class="map-image"
        data-controller="map"
        data-map-markers-value= "<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        
        </div>
      </div>

    </div>

    <div class="col-4">
      <div class="card p-3">
        <p><strong>$<%= @listing.price_per_night %></strong> SGD per night</p>
        <%= link_to "Book Now", new_listing_booking_path(@listing), class:"btn btn-primary w-100" %>
      </div>
    </div>
  </div>
</div>
