<div class="notification-index" data-controller="notifications">
  <% @notifications.each do |notification| %>
    <%= link_to notification_path(notification), class:"text-decoration-none text-dark", data: {action: "click->notifications#counter"} do %>
      <div class="card p-3 notification-index-single mb-3 <%= "bg-dark-subtle" if notification.read == true %> ">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div>
              <% if notification.listing && notification.listing.photos.attached? %>
                <%= cl_image_tag notification.listing.photos[0].key, class:"notification-image" %>
              <% else %>
                <%= image_tag "apartment.jpg", alt: "apartment", width: 150, class:"notification-image" %>
              <% end %>
            </div>

            <div class="d-flex justify-content-center flex-column ms-4 text-decoration-none">
              <p class="m-0"><b>
              <%= notification.notification_header(notification.notification_type) %>
              </b></p>
              <p class="m-0"><%= notification.message_header %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>