<div class="notification-index" data-controller="notifications">
  <% @notifications.each do |notification| %>
    <%= link_to notification_path(notification), class:"text-decoration-none text-dark", data: {action: "click->notifications#counter"} do %>
      <div class="card p-3 notification-index-single">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div>
              <% if notification.listing && notification.listing.photos.attached? %>
                <%= cl_image_tag notification.listing.photos[0].key, class:"notification-image" %>
              <% else %>
                <%= image_tag "apartment.jpg", alt: "apartment", width: 150, class:"notification-image" %>
              <% end %>
            </div>

            <div class="d-flex justify-content-center flex-column ms-4 text-decoration-none">
              <p class="m-0"><%= notification.message_header %></p>
              <p class="m-0"><b>Review Booking</b></p>
            </div>
          </div>

          <div class="d-flex">
            <%= link_to notification_path(notification), method: :PATCH, class:"delete-notification" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>