<div class="container">
  <div class="row">
    <h1>You are nearly there...</h1>
    <p>Please confirm your details and payment before your booking is reserved</p>
  </div>

  <div class="row">
    <div data-controller="datepicker" class="col-7">
        <%= simple_form_for @booking, url: listing_bookings_path(@listing) do |f| %>
          <%= f.hidden_field :listing_id, :value=> params[:listing_id] %>
          <%= f.input :start_date, as: :string, input_html: { data: { action: "input->datepicker#update", "datepicker-target"=>"startDate" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { action: "input->datepicker#update", "datepicker-target"=>"endDate" } } %>
          <%= f.input :no_of_guests, collection: (1..5) %>
          <%= f.input :payment, collection: ["Visa", "Mastercard", "Paypal"] %>
          <%= f.button :submit, class:"btn btn-primary", value: "Reserve", "data-action": "click->datepicker#fire" %>
        <% end %>
    </div>

    <div class="col-5">
      <div class="card p-3">
        <div class="row">
          <% if @listing.photos.attached? %>
            <%= cl_image_tag @listing.photos[0].key, class:"listing-image" %>
          <% else %>
            <%= image_tag "apartment.jpg", alt: "apartment", width: 150, class:"show-main-image" %>
          <% end %>
        </div>

        <div class="row">
          <p><%= @listing.title %></p>
          <p><strong>$<%= @listing.price_per_night %></strong> SGD per night</p>
          <p><%= @listing.state %>, <%= @listing.country %></p>
        </div>
      </div>
    </div>
  </div>
</div>