
<div class="container" data-controller="pricecalc"
 data-pricecalc-night-value= "<%= @listing.price_per_night %>"
 data-pricecalc-servicefee-value= "<%= @listing.service_fee_per_night %>"
 data-pricecalc-cleaningfee-value= "<%= @listing.cleaning_fee_per_night %>">
  <div class="row">
    <h1>You are nearly there...</h1>
    <p>Please confirm your details and payment before your booking is reserved</p>
  </div>

  <div class="row">
    <div data-controller="datepicker" 
    data-datepicker-id-value= "<%= @listing.id %>"
    class="col-7 card p-2">
      <div data-datepicker-target="render">
        <%= render "newbooking", listing: @listing, booking: @booking %>
      </div>

      <div class="row mt-3">
        <div class="col-4 price-middle">
          <p class="border-bottom"><b>Type</b></p>
          <div class="price-row">
            <p>Accomodation</p>
            <p>Service Fees</p>
            <p>Cleaning Fees</p>
          </div>
            <p class="border-top total-row">Grand Total</p>
            <p class="border-bottom d-none" data-datepicker-target="discount">Discount applied</p>
            <p class="d-none" data-datepicker-target="discount"> Discounted Total</p>
        </div>

        <div class="col-8">
          <div class="row">
            <div class="col-3 price-middle">
              <p class="border-bottom"><b>Unit Fee</b></p>
              <div class="price-row">
                <p>$<%= @listing.price_per_night %></p>
                <p>$<%= @listing.service_fee_per_night %></p>
                <p>$<%= @listing.cleaning_fee_per_night %></p>
              </div>
            </div>

            <div class="col-6 price-middle">
              <p class="border-bottom"><b>Duration of stay</b></p>
              <div class="price-row">
                <p data-pricecalc-target="days" data-datepicker-target = "days"></p>
                <p data-pricecalc-target="days"></p>
                <p data-pricecalc-target="days"></p>
              </div>
            </div>

            <div class="col-3 price-end">
              <p class="border-bottom"><b>Total</b></p>
              <div class="price-row">
                <p><span>$</span><span data-pricecalc-target = "pricePerNight" data-datepicker-target = "accomFee">0</span></p>
                <p><span>$</span><span data-pricecalc-target = "serviceFeePerNight" data-datepicker-target = "serviceFee">0</span></p>
                <p><span>$</span><span data-pricecalc-target = "cleaningFeePerNight" data-datepicker-target = "cleaningFee">0</span></p>
              </div>
                <p class="border-top total-row"><span>$</span><span data-pricecalc-target = "total" data-datepicker-target = "total">0</span></p>
                <p class="border-bottom d-none" data-datepicker-target="discount"><span>-$</span><span>0</span></p>
                <p class="d-none" data-datepicker-target="discount"><span>$</span><span>0</span></p>
            </div>
        </div>
      </div>
    </div>
    </div>

    <div class="col-5">
      <div class="card p-3">
        <div class="row">
          <% if @listing.photos.attached? %>
            <%= cl_image_tag @listing.photos[0].key, class:"listing-image" %>
          <% else %>
            <%= image_tag "apartment.jpg", alt: "apartment", width: 150, class:"show-main-image" %>
          <% end %>
        </div>

        <div class="row">
          <p><%= @listing.title %></p>
          <p><strong>$<%= @listing.price_per_night %></strong> SGD per night</p>
          <p><%= @listing.state %>, <%= @listing.country %></p>
        </div>
      </div>
    </div>
  </div>
</div>


