<div class="single-booking-show-main">
  <div class="row">
    <div class="d-flex flex-column card p-3">
      <div class="flex-grow-1">
        <% start_date = @booking.start_date.strftime("%e").gsub(" ", "").to_i.ordinalize + @booking.start_date.strftime(" %B %Y") %>
        <% end_date = @booking.end_date.strftime("%e").gsub(" ", "").to_i.ordinalize + @booking.end_date.strftime(" %B %Y") %>
        <% @booker = User.find(@booking.buyer_id) %>
        <h3>Booking Details</h3>
        <p> Booked by: <%= @booker.name%></p>
        <p> Email: <%= @booker.email%> </p>
        <p> Start Date: <%= start_date %> </p>
        <p> End Date: <%= end_date %> </p>
        <p> Duration of stay: <%= @booking.days_to_stay %> </p>
        <p> No of Guests: <%= @booking.no_of_guests %> </p>
        <p> You will receive $<%= @booking.total_fee %> if you approve the booking </p>
        <% days = (@booking.end_date - @booking.start_date).to_i %>
      </div>
    </div>

    <div class="d-flex" data-controller="bookingstatus" data-bookingstatus-id-value = "<%= @booking.id%>">
      <%=link_to "Approve", booking_approve_path(@booking), class:"btn btn-success w-100 m-3", data: { action: "click->bookingstatus#approve" } %>
      <%=link_to "Reject", booking_reject_path(@booking), class:"btn btn-secondary w-100 m-3", data: { action: "click->bookingstatus#reject" }  %>
    </div>
  </div>

  <div class="row mt-2">
    <%= link_to "Back", :back %>
  </div>
</div>