<div class="single-booking-show-main">
  <div class="row mb-3">
    <h3 class="booking-status-show" ><strong>Status:</strong> <%= @booking.aproval_status.titleize %></h3>
  </div>

  <div class="row">
    <div class="col-6 d-flex flex-column card p-3">
      <div class="flex-grow-1">
        <% start_date = @booking.start_date.strftime("%e").gsub(" ", "").to_i.ordinalize + @booking.start_date.strftime(" %B %Y") %>
        <% end_date = @booking.end_date.strftime("%e").gsub(" ", "").to_i.ordinalize + @booking.end_date.strftime(" %B %Y") %>
        <p> Start Date: <%= start_date %> </p>
        <p> End Date: <%= end_date %> </p>
        <p> No of Guests: <%= @booking.no_of_guests %> </p>
        <div class="d-flex justify-content-between">
          <p>Total Price: <strong>$<%= @booking.total_fee %></strong> SGD</p>
        </div>
      </div>

      <div>
        <% days_left = (@booking.start_date - Time.now.to_date).to_i %>
        <% if days_left == 0 %>
          <p>Today is the day of your stay! If you still have not received the confirmation from your host, please arrange for another accom or contact customer service </p>
        <% else %>
          <p>You are just <%= days_left %> days to your stay in <strong><%= @listing.title %></strong> </p>
        <% end %>
        
        <% if @booking.aproval_status == "pending" && days_left <= 5  %>
          <%= link_to "Send Reminder to host to review the status", booking_sendreminder_path(@booking) %>
        <% end %>
      </div>
    </div>

    <div class="col-6">

      <% if @listing.photos.attached? %>
        <%= cl_image_tag @listing.photos[0].key, class:"booking-image-show" %>
      <% else %>
        <%= image_tag "apartment.jpg", alt: "apartment", width: 150, class:"booking-image-show" %>
      <% end %>

      <%=link_to "View listing", booking_view_listing_path(@booking, @listing), class:"btn btn-primary w-100 mt-2" %>
    </div>
  </div>

  <div class="row mt-2">
    <%= link_to "Back", bookings_path %>
  </div>
</div>