<div class="bg-light p-4 navbar-settings">
    <div class="d-flex justify-content-between">
      <div class="logo">
        <%= link_to listings_path do %>
        <%= image_tag "logo-airbnb.png", alt: "Airbnb", width: 150 %>
        <% end %>
      </div>

      <div>
        <%= form_with url: listings_path, method: :get, class: "d-flex justify-center-between" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for a listing...", style: "width: 400px; border-radius: 20px; text-align:center;"
        %>
        <% end %>
      </div>
      
      <div class="d-flex">
        <% if user_signed_in? %>
          <div class="dropdown d-flex align-item-center me-2">
            <button class="dropdown-toggle btn btn-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/bookings">My Bookings</a></li>
                <li><a class="dropdown-item" href="">My Listings</a></li>
                <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete, action:"click->sweetalerts#logout", "sweetalerts-target"=>"logout" }, class:"dropdown-item"%></li>
            </ul>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, data: { turbo_method: :get }, class:"d-flex align-items-center text-black btn btn-light"%>
        <% end %>

        <div>
          <%= link_to account_info_path do  %>
            <% if user_signed_in? %>
              <% @user = current_user %>
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class:"avatar" %>
              <% else %>
                <%= image_tag "poster boy.jpg", alt: "user", width: 150, class:"avatar" %>
              <% end %>
            <% else %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
</div>